content none
redirects on
source https://nuget.org/api/v2

nuget FSharp.Azure.StorageTypeProvider
nuget Fake
nuget MBrace.Azure -pre
nuget Paket.Core
nuget DotNetZip
nuget Elastacloud.AzureManagement.Fluent
nuget Suave
nuget Mono.Cecil
nuget FsPickler.Json 1.2.7
