content none
source https://nuget.org/api/v2

nuget FSharp.Azure.StorageTypeProvider
nuget Fake
nuget MBrace.Azure -pre
nuget Paket.Core
nuget DotNetZip
nuget Elastacloud.AzureManagement.Fluent
nuget Suave
nuget Mono.Cecil 0.9.5.4